*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
   background: linear-gradient(120deg, skyblue , lightpink);
   display: flex;
   justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
   background-color: transparent;
   border: 2px solid white;
   width: 350px;
   height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
   

}
.form-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    
}
.form-container form{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-top: 30px;
    gap: 20px;

}
.input-group label{
     position: absolute;
    top: 5px;
    left: 0;
    font-size: 20px;
    color: black;
    pointer-events: none;
    transition: 0.3s ease;
}
.form-container input{
    padding: 10px;
    font-size: 1em;
    border: none;
    
    outline: none;
    width: 100%;
    background: transparent;
  border-bottom: 1px solid black;
              
  
 
}
.input-group {
    position: relative;
    
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -15px;   /* upar shift */
    font-size: 14px;
    color: #333;
}

.form-container button{
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(6, 103, 141);
    color: white;
    cursor: pointer;
    
    
}
a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
text-align: center;
    margin-top: 10px;
    display: inline-block;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: skyblue;
    width: 100%;
}
p{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
text-align: center;
    margin-top: 10px;
    display: inline-block;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: skyblue;
    width: 100%;
}