
body{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FsY3VsYXRvcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    font-family: Arial, sans-serif;
    
}
.container{
    background-color: black;
   width: 320px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;

}
.display{
    background-color: whitesmoke;
   width: 280px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    text-align: right;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;

}
.buttons{
    background-color: black;
   width: 300px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;

}

button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 3px;
    border-radius: 4px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
}
#equal{
    background-color: orange;
    color: white;
    width: 130px;
}
#clear{
    background-color: gray;
    color: white;
    
}


